* linguist-vendored
*.php linguist-vendored=false
/silverstripe-cache/
/.env
/vendor/
.DS_Store
/composer.lock
.babelrc
/public/resources/vendor/
/public/resources/themes/
/public/install.php
/public/install-frameworkmissing.html
/themes/creative/node_modules/
/themes/creative/vendor/